.header {
  
    &__top-container {
      @include box;
      margin-top: 12px;
      margin-bottom: 17px;
    }

    &__top-right {
      width: 545px;
      @include box;
    }

    &__top-right-tel {
      display: flex;
      align-items: center;
      @include link;
      font: {
        style: normal;
        weight: 500;
        size: 25px;
      }

      line-height: 26px;
      color: $main-black;

       &:hover {
         color: #0000EE;
       }

    }


    &__top-right-tel::before {
      content: "";
      background-image: url(../images/tel.png);
      width: 28px;
      height: 28px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: 0 0;
      margin-right: 23px;
      display: block;


    }

     &__socials-link {
       text-decoration: none;
     }

    &__top-right-img {
      margin-left: 26px;
    }

    &__top-select {
      margin-left: 66px;
    }

    &__top-select {
      width: 100px;
      appearance: none;
      border: none;
      background-image: url(../images/rf.png), url(../images/arrow-down.png);
      background-size: 41px 41px,
        11px 7px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: 0 -16px, 55px 2px;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: rgba(85, 166, 48, 0.5);
    }

    &__bottom-container {
      padding-top: 22px;
      padding-bottom: 22px;
     

      .navbar {
        @include box;
        flex-wrap: wrap;
        gap: 10px;



        &__link {
          @include link;

          font: {
            style: normal;
            weight: 500;
            size: 16px;
          }

          line-height: 26px;
          color: $main-black;

          &:hover {
            color: $main-green;
          }

        }

      }

    }
  


    &__close--button {
      width: 30px;
      height: 30px;
      display: none;
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
    }

    &__hamburger {
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: $main-white;
      }
      
    }
    &__mobile{
        display: none;
      }

      &__close--button{
        display: none;
      }

    


  } //header

   .curtain {
     display: none;
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: 100;
     background-image: linear-gradient(to bottom, 
     rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
   }
  
// responsive 1000,768,480,320.

@media only screen and (max-width:1000px) {
  .header {
    &__desktop {
      @include box;
      display: none;
    }

      &__mobile{
        display: block;
      }

      &__mobile-container{
        position: relative;
        @include box;
        padding-top: 9px;
        padding-bottom: 11px;
      }

       &__mobile-logo {
         width: 74px;
         height: 74px;
       }

        &__mobile-btn {
          width: 186px;
          text-align: left;
          display: block;
          border: none;
          background-color: transparent;
        }

        &__mobile-tel {
          @include link;
          font: {
            style: normal;
            weight: 500;
            size: 20px;
          }
  
          line-height: 26px;
          color: $main-black;
        }
  
        &__mobile-tel::before {
          content: "";
          background-image: url(../images/tel.png);
          width: 50px;
          height: 28px;
          cursor: pointer;
          background-repeat: no-repeat;
          background-size:28px 28px;
          background-position: 0 0px;
          display: inline-block;
  
        }

  

    
        // menu



      &__desktop--on {
        display: block;
        position: absolute;
        max-width: 370px;
        min-height: 796px;
        width: 100%;
        padding: 26px;
        z-index: 1000;
        background-color: $main-white;
        position: fixed;
      }

      &__top-container , &__bottom-container{
        padding: 0;
      }

      &__top-right{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
      }

      &__top-right-tel{
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 26px;

        &::before{
          width: 23px;
          height: 23px;
          background-size: cover;
        }
      }
      &__socials{
        position: absolute;
        bottom: 119px;
        margin-right: 0;
      }

      
     
       &__top-select{
         margin-left: 0;
       }



      &__top-logo{
        display: none;
      }

      &__close--button {
        display: block;
        position: absolute;
        top: 24px;
        right: 26px;
        border: none;
        cursor: pointer;
        background-color: $main-white;
      }

      .navbar{
        flex-direction: column;
        align-items:flex-start;
        gap:30px;

        &__link{
          font-size: 20px;
          line-height: 15px;
        }
      }
      
      .line{
        display: none;
      }

      } //header
    
      .curtain--on{
        display: block;
        position: fixed;
      }

    }

  




  

// responsive tablet (768)

@media only screen and (max-width: 768px) {
    .header {

      &__mobile {
        display: block;
      }

      &__mobile--container {
        position: relative;
        @include box;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 23px;
        padding-right: 23px;
      }

      &__mobile-logo{
        width: 70px;
        height: 72px;
      }

       &__mobile-btn {
        width: 148px
       }

      &__mobile-tel {
        @include link;
        font: {
          style: normal;
          weight: 500;
          size: 19px;
        }

        line-height: 26px;
        color: $main-black;
      }

      &__mobile-tel::before {
        content: "";
        background-image: url(../images/tel.png);
        width: 23px;
        height: 23px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 177px;
        top: 33px;
        display: block;

      }
    }
  }

// responsive mobile(480)

@media only screen and (max-width: 480px) {
     .header {

       &__mobile {
         display: block;
       }

       &__mobile-container {
         position: relative;
         @include box;
         padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 20px;
         padding-right: 12px;
       }

       &__mobile-link-menu{
           width: 29px;
           height: 14px;
       }

       &__mobile-logo {
         width: 45px;
         height: 46px;
       }

       &__mobile-btn{
         width: 65px;
         margin-left: 0;
       }


       &__mobile-tel {
         @include link;
        padding: 0;
         font: {
           style: normal;
           weight: 500;
           size: 12px;
         }

         line-height: 26px;
         color: $main-black;
       }

       &__mobile-tel::before {
         content: "";
         background-image: url(../images/tel.png);
         width: 14px;
         height: 14px;
         cursor: pointer;
         background-repeat: no-repeat;
         background-size: contain;
         position: absolute;
         right: 114px;
         top: 26px;
         display: block;

      }
  }

}

// responsive mobile (320)
@media only screen and (max-width:320px) {
.header {

  &__mobile{
    display: block;
  }

  &__mobile--container{
    padding-left: 27px;
    padding-right: 9px;
  }
 




  &__mobile-link-menu {
    width: 29px;
    height: 14px;
  }

  &__mobile-logo {
    width: 39px;
    height: 41px;
  }

  &__mobile-btn {
    width: 65px;
    text-align: left;
  }

  &__mobile-tel {
    display: none;
  }



  &__tel::before {
    content: "";
    background-image: url(../images/tel.png);
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 102px;
    top: 16px;
    display: block;

  }
}
  
  

  }



  
  

